Regex Exercises

In [1]:
import pandas as pd
import re

Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string

In [49]:
def is_vowel(s):
    regexp = r'[aeiou]'
    subject = s
    search = re.search(regexp, subject, re.IGNORECASE)
    return bool(search)

In [50]:
is_vowel('a')

True

In [51]:
is_vowel('b')

False

In [52]:
is_vowel('e')

True

In [53]:
is_vowel('d')

False

In [54]:
is_vowel('A')

True

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [31]:
def is_valid_username(s):
    # takes in string
    # starts with lower case letter, all lower case, numbers, _, <=32
    subject = s
    regexp = r'^[a-z][a-z0-9_]{,31}$' #starts with lower case letter and has any lowercase letter, any number, _ character, up to 31 repetitions of the previous character
    return bool (re.search(regexp, subject))

In [32]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa') # has 33 characters, should be false

False

In [33]:
is_valid_username('codeup')

True

In [34]:
is_valid_username('Codeup')

False

In [35]:
is_valid_username('codeup123')

True

In [36]:
is_valid_username('1codeup')

False

In [ ]:
# examples:
>>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False
>>> is_valid_username('codeup')
True
>>> is_valid_username('Codeup')
False
>>> is_valid_username('codeup123')
True
>>> is_valid_username('1codeup')
False

3. Write a regular expression to capture phone numbers. It should match all of the following:

- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [37]:
# characters to look out for +, (, ), ., -, and numbers

In [38]:
df = pd.DataFrame()
df['number'] = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309'
]

In [39]:
df

            number
0   (210) 867 5309
1  +1 210.867.5309
2         867-5309
3     210-867-5309

In [40]:
regexp = re.compile(
'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE) # compiles ahead of time so when ran its not reading as if ran for the first time.

In [41]:
df.number.str.extract(regexp)

  country_code area_code exchange_code line_number
0          NaN       210           867        5309
1           +1       210           867        5309
2          NaN       NaN           867        5309
3          NaN       210           867        5309

4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [60]:

list_of_dates = [
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19'
]

In [61]:
regexp = r'(\d+)/(\d+)/(\d+)'
re.sub(regexp, r'20\3-\1-\2', '02/04/19') # capture digits into 3 groups, then add '20' to beginning of group 3, then group 1, and group 2.

'2019-02-04'

In [62]:
[re.sub(regexp, r'20\3-\1-\2', i) for i in list_of_dates]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

5. Write a regex to extract the various parts of these logfile lines:

In [65]:
lines = '''
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
'''

In [66]:

regexp = r'''
^
(?P<method>GET|POST)
\s
(?P<path>/[/\w\-\?=]+)
\s
\[(?P<timestamp>.+)\]
\s
(?P<http_version>HTTP/\d+\.\d+)
\s
\{(?P<status_code>\d+)\}
\s
(?P<bytes>\d+)
\s
"(?P<user_agent>.+)"
\s
(?P<ip>\d+\.\d+\.\d+\.\d+)
$
'''

In [69]:

df = pd.DataFrame([re.search(regexp, line, re.VERBOSE).groupdict() for line in lines.strip().split('\n')])

In [70]:
df

,method,path,timestamp,http_version,status_code,bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58